.button_share {
 display: block;
 float: left;
 padding: 10px 15px;
 border:none;
 background-color: #ececec;
 text-decoration: none;
 font-size: 18px;
 color: #FFF;
}
.button_share:hover {
 color: #efefef;
}
.facebook {
 background-color: #3b5998;
}